* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.section-one {
    background: #333 center / cover url(img/img\ \(3\).jpg);
    text-align: center;
    position: relative;
}

.section-one h1 {
    color: #fff;
    margin: 0;
    font-size: 5em;
    padding: 2em 0;
    text-shadow: 2px 2px 40px #000;
}

.section-two {
    text-align: center;
    background: #fff;
    padding: 0 0 35px;
}

.section-two h2 {
    font-size: 4em;
    padding: 1em;
}

.section-two p {
    font-size: 2em;
    width: 60%;
    margin: 0 auto 1em;
}


.curve {
    fill: #fff;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}